* {
  margin: 0;
  padding: 0; }

*::before,
*::after {
  box-sizing: inherit; }

:root {
  --color-primary-dark-blue: #2d314d;
  --color-primary-lime-green: #31d35c;
  --color-primary-bright-cyan: #2bb7da;
  --color-neutral-grayish-blue: #9698a6;
  --color-neutral-light-grayish-blue: #f3f4f6;
  --color-neutral-very-light-gray: #fafafa;
  --color-neutral-very-white: #ffffff; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media screen and (min-width: 1440px) {
    html {
      overflow-x: hidden; } }

body {
  font-family: "Public Sans", sans-serif; }

.inactive {
  display: none; }

a {
  text-decoration: none; }

p {
  color: var(--color-neutral-grayish-blue); }

button:hover {
  cursor: pointer;
  opacity: 0.4; }

.btn {
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 2.8rem;
  color: var(--color-neutral-very-white);
  padding: 0.8rem 3.4rem;
  outline: transparent;
  border: none;
  border-radius: 2.2rem;
  background: linear-gradient(135deg, var(--color-primary-lime-green) 0%, var(--color-primary-bright-cyan) 99.58%);
  white-space: nowrap;
  transition: opacity 0.2s; }
  @media screen and (min-width: 1440px) {
    .btn {
      display: block; } }

.btn:hover {
  opacity: 0.4; }

.navbar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2.2rem 2.4rem;
  z-index: 3; }
  @media screen and (min-width: 1024px) {
    .navbar {
      position: initial;
      padding: 2.4rem 9.5rem; } }
  @media screen and (min-width: 1440px) {
    .navbar {
      padding: 3.3rem 16.5rem; } }

.header {
  display: flex;
  flex-direction: column;
  border: 2px dotted gold; }
  @media screen and (min-width: 1440px) {
    .header {
      flex-direction: row;
      align-items: center;
      justify-content: space-between; } }

.toggleMenu {
  cursor: pointer; }
  @media screen and (min-width: 1024px) {
    .toggleMenu {
      display: none; } }

.close {
  cursor: pointer;
  display: none; }

#toggleMenu:checked ~ .navbar__navigation {
  display: flex; }

#close:checked ~ .navbar__navigation {
  display: none; }
  @media screen and (min-width: 1024px) {
    #close:checked ~ .navbar__navigation {
      display: flex; } }

#toggleMenu:checked ~ .toggleMenu {
  display: none; }

#close:checked ~ .toggleMenu {
  display: block; }
  @media screen and (min-width: 1024px) {
    #close:checked ~ .toggleMenu {
      display: none; } }

#toggleMenu:checked ~ .close {
  display: block; }
  @media screen and (min-width: 1024px) {
    #toggleMenu:checked ~ .close {
      display: none; } }

#close:checked ~ .close {
  display: none; }

.navbar__navigation {
  position: absolute;
  top: calc(100% + 2.4rem);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: none;
  flex-direction: column;
  width: 87.2%;
  background-color: var(--color-neutral-very-white);
  border-radius: 0.4rem; }
  @media screen and (min-width: 1024px) {
    .navbar__navigation {
      position: initial;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      margin-left: 0;
      margin-right: 0;
      width: 33.1rem; } }
  .navbar__navigation::before {
    content: "";
    background: linear-gradient(180deg, #2d314d 0%, rgba(45, 49, 77, 0.0001) 100%);
    height: 100%;
    position: fixed;
    top: 6.4rem;
    left: 0;
    right: 0;
    z-index: -1; }
    @media screen and (min-width: 1024px) {
      .navbar__navigation::before {
        display: none; } }
  .navbar__navigation .navigation {
    text-align: center;
    margin-bottom: 2.4rem;
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: var(--color-primary-dark-blue); }
    @media screen and (min-width: 1024px) {
      .navbar__navigation .navigation {
        text-align: initial;
        margin-bottom: initial;
        font-size: 1.4rem;
        line-height: 1.6rem;
        position: relative; } }
    .navbar__navigation .navigation:first-child {
      margin-top: 3.2rem; }
      @media screen and (min-width: 1024px) {
        .navbar__navigation .navigation:first-child {
          margin-top: initial; } }
    .navbar__navigation .navigation:last-child {
      margin-bottom: 3.2rem; }
      @media screen and (min-width: 1024px) {
        .navbar__navigation .navigation:last-child {
          margin-bottom: initial; } }

.header__phone {
  background-image: url("/images/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 28.77rem;
  position: relative;
  overflow: hidden;
  z-index: 2;
  margin-bottom: 3.3rem; }
  @media screen and (min-width: 1024px) {
    .header__phone {
      height: 44rem;
      margin-bottom: 6.6rem; } }
  @media screen and (min-width: 1440px) {
    .header__phone {
      order: 2;
      background-image: url("/images/bg-intro-desktop.svg");
      background-size: 158%;
      background-position: 10% 75%;
      height: 65.6rem;
      overflow: initial;
      margin-bottom: 0; } }
  .header__phone .phones {
    width: 87%;
    position: absolute;
    top: -11.65rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (min-width: 540px) {
      .header__phone .phones {
        top: -18rem; } }
    @media screen and (min-width: 768px) {
      .header__phone .phones {
        top: -24rem; } }
    @media screen and (min-width: 1440px) {
      .header__phone .phones {
        position: relative;
        top: -12rem;
        left: 13rem;
        width: 100%; } }

.header__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2.4rem 8.8rem; }
  @media screen and (min-width: 540px) {
    .header__info {
      padding: 0 6rem 8.8rem; } }
  @media screen and (min-width: 768px) {
    .header__info {
      padding: 0 12rem 8.8rem; } }
  @media screen and (min-width: 1024px) {
    .header__info {
      padding: 0 22rem 8.8rem; } }
  @media screen and (min-width: 1440px) {
    .header__info {
      padding: 0;
      padding-left: 16.5rem;
      align-items: flex-start;
      width: 44.7rem; } }
  .header__info .header-heading {
    font-weight: 300;
    font-size: 4rem;
    line-height: 4.7rem;
    text-align: center;
    color: var(--color-primary-dark-blue);
    margin-bottom: 1.6rem; }
    @media screen and (min-width: 1024px) {
      .header__info .header-heading {
        font-size: 5.6rem;
        line-height: 6.4rem;
        margin-bottom: 2.4rem; } }
    @media screen and (min-width: 1440px) {
      .header__info .header-heading {
        text-align: left; } }
  .header__info .header-paragraph {
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: center;
    margin-bottom: 3.2rem; }
    @media screen and (min-width: 1024px) {
      .header__info .header-paragraph {
        font-size: 1.8rem;
        line-height: 2.8rem;
        margin-bottom: 3.6rem; } }
    @media screen and (min-width: 1440px) {
      .header__info .header-paragraph {
        text-align: left; } }

/*# sourceMappingURL=main.css.map */
