* {
  margin: 0;
  padding: 0; }

*::before,
*::after {
  box-sizing: inherit; }

:root {
  --color-primary-dark-blue: #2d314d;
  --color-primary-lime-green: #31d35c;
  --color-primary-bright-cyan: #2bb7da;
  --color-secondary-bg-light-grayish-blue: #f4f5f7;
  --color-neutral-grayish-blue: #9698a6;
  --color-neutral-light-grayish-blue: #f3f4f6;
  --color-neutral-very-light-gray: #fafafa;
  --color-neutral-very-white: #ffffff; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media screen and (min-width: 1440px) {
    html {
      overflow-x: hidden; } }

body {
  font-family: "Public Sans", sans-serif; }

.inactive {
  display: none; }

a {
  text-decoration: none; }

p {
  color: var(--color-neutral-grayish-blue); }

button:hover {
  cursor: pointer;
  opacity: 0.4; }

.btn {
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 2.8rem;
  color: var(--color-neutral-very-white);
  padding: 0.8rem 3.4rem;
  outline: transparent;
  border: none;
  border-radius: 2.2rem;
  background: linear-gradient(135deg, var(--color-primary-lime-green) 0%, var(--color-primary-bright-cyan) 99.58%);
  white-space: nowrap;
  transition: opacity 0.2s; }
  @media screen and (min-width: 1440px) {
    .btn {
      display: block; } }

.btn:hover {
  opacity: 0.4; }

.navbar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2.2rem 2.4rem;
  z-index: 3; }
  @media screen and (min-width: 1024px) {
    .navbar {
      position: initial;
      padding: 2.4rem 9.5rem; } }
  @media screen and (min-width: 1440px) {
    .navbar {
      padding: 2.7rem 16.5rem; } }

.header {
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 1440px) {
    .header {
      flex-direction: row;
      align-items: center; } }

.features {
  padding: 6.4rem 2.4rem 3.2rem;
  background-color: var(--color-secondary-bg-light-grayish-blue); }
  @media screen and (min-width: 768px) {
    .features {
      padding-left: 4rem;
      padding-right: 4rem; } }
  @media screen and (min-width: 1024px) {
    .features {
      padding: 6.9rem 5rem; } }
  @media screen and (min-width: 1440px) {
    .features {
      padding: 9.4rem 16.5rem; } }

.articles {
  padding: 8.8rem 2.4rem; }
  @media screen and (min-width: 1440px) {
    .articles {
      padding: 8rem 16.5rem; } }

.toggleMenu {
  cursor: pointer; }
  @media screen and (min-width: 1024px) {
    .toggleMenu {
      display: none; } }

.close {
  cursor: pointer;
  display: none; }

#toggleMenu:checked ~ .navbar__navigation {
  display: flex; }

#close:checked ~ .navbar__navigation {
  display: none; }
  @media screen and (min-width: 1024px) {
    #close:checked ~ .navbar__navigation {
      display: flex; } }

#toggleMenu:checked ~ .toggleMenu {
  display: none; }

#close:checked ~ .toggleMenu {
  display: block; }
  @media screen and (min-width: 1024px) {
    #close:checked ~ .toggleMenu {
      display: none; } }

#toggleMenu:checked ~ .close {
  display: block; }
  @media screen and (min-width: 1024px) {
    #toggleMenu:checked ~ .close {
      display: none; } }

#close:checked ~ .close {
  display: none; }

.navbar__navigation {
  position: absolute;
  top: calc(100% + 2.4rem);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: none;
  flex-direction: column;
  width: 87.2%;
  background-color: var(--color-neutral-very-white);
  border-radius: 0.4rem; }
  @media screen and (min-width: 1024px) {
    .navbar__navigation {
      position: initial;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      margin-left: 0;
      margin-right: 0;
      width: 33.1rem; } }
  .navbar__navigation::before {
    content: "";
    background: linear-gradient(180deg, #2d314d 0%, rgba(45, 49, 77, 0.0001) 100%);
    height: 100%;
    position: fixed;
    top: 6.4rem;
    left: 0;
    right: 0;
    z-index: -1; }
    @media screen and (min-width: 1024px) {
      .navbar__navigation::before {
        display: none; } }
  .navbar__navigation .navigation {
    text-align: center;
    margin-bottom: 2.4rem;
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: var(--color-primary-dark-blue); }
    @media screen and (min-width: 1024px) {
      .navbar__navigation .navigation {
        text-align: initial;
        margin-bottom: initial;
        font-size: 1.4rem;
        line-height: 1.6rem;
        position: relative; }
        .navbar__navigation .navigation:hover::after {
          content: "";
          height: 2px;
          width: 100%;
          background-image: linear-gradient(135deg, var(--color-primary-lime-green) 0%, var(--color-primary-bright-cyan) 99.58%);
          position: absolute;
          top: 4rem;
          left: 0; } }
    .navbar__navigation .navigation:first-child {
      margin-top: 3.2rem; }
      @media screen and (min-width: 1024px) {
        .navbar__navigation .navigation:first-child {
          margin-top: initial; } }
    .navbar__navigation .navigation:last-child {
      margin-bottom: 3.2rem; }
      @media screen and (min-width: 1024px) {
        .navbar__navigation .navigation:last-child {
          margin-bottom: initial; } }

.header__phone {
  position: relative;
  background-image: url("/images/bg-intro-mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 44%;
  min-height: 28rem;
  margin-bottom: 3.3rem; }
  @media screen and (min-width: 1024px) {
    .header__phone {
      background-image: url("/images/bg-intro-desktop.svg");
      background-size: 90%;
      background-position: 20% 40%;
      min-height: 44rem; } }
  @media screen and (min-width: 1440px) {
    .header__phone {
      background-size: 145%;
      background-position: -5% 77%;
      order: 2;
      min-height: 65.6rem;
      width: 60%;
      margin-bottom: 0; } }
  .header__phone::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("/images/image-mockups.png");
    background-size: 91%;
    background-repeat: no-repeat;
    background-position: center 88%; }
    @media screen and (min-width: 768px) {
      .header__phone::before {
        background-position: center 70%; } }
    @media screen and (min-width: 1024px) {
      .header__phone::before {
        background-size: 70%;
        background-position: center 50%; } }
    @media screen and (min-width: 1440px) {
      .header__phone::before {
        height: 120%;
        background-size: 90%;
        background-position: 250% 78%; } }
    @media screen and (min-width: 1500px) {
      .header__phone::before {
        background-size: 70%;
        background-position: 90% 90%; } }

.header__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2.4rem 8.8rem; }
  @media screen and (min-width: 540px) {
    .header__info {
      padding: 0 6rem 8.8rem; } }
  @media screen and (min-width: 768px) {
    .header__info {
      padding: 0 12rem 8.8rem; } }
  @media screen and (min-width: 1024px) {
    .header__info {
      padding: 0 22rem 8.8rem; } }
  @media screen and (min-width: 1440px) {
    .header__info {
      padding: 0;
      padding-left: 16.5rem;
      align-items: flex-start;
      width: 46.7rem; } }
  .header__info .header-heading {
    font-weight: 300;
    font-size: 4rem;
    line-height: 4.7rem;
    text-align: center;
    color: var(--color-primary-dark-blue);
    margin-bottom: 1.6rem; }
    @media screen and (min-width: 1024px) {
      .header__info .header-heading {
        font-size: 5.6rem;
        line-height: 6.4rem;
        margin-bottom: 2.4rem; } }
    @media screen and (min-width: 1440px) {
      .header__info .header-heading {
        text-align: left; } }
  .header__info .header-paragraph {
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: center;
    margin-bottom: 3.2rem; }
    @media screen and (min-width: 1024px) {
      .header__info .header-paragraph {
        font-size: 1.8rem;
        line-height: 2.8rem;
        margin-bottom: 3.6rem; } }
    @media screen and (min-width: 1440px) {
      .header__info .header-paragraph {
        text-align: left; } }

.features__header {
  margin-bottom: 5.6rem; }
  .features__header .features-heading {
    font-weight: 300;
    font-size: 3.2rem;
    line-height: 3.8rem;
    text-align: center;
    color: var(--color-primary-dark-blue);
    margin-bottom: 1.4rem; }
    @media screen and (min-width: 768px) {
      .features__header .features-heading {
        text-align: left; } }
    @media screen and (min-width: 1024px) {
      .features__header .features-heading {
        text-align: center;
        font-size: 4rem;
        line-height: 6.4rem; } }
    @media screen and (min-width: 1440px) {
      .features__header .features-heading {
        text-align: left; } }
  .features__header .features-paragraph {
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .features__header .features-paragraph {
        width: 40rem;
        text-align: left; } }
    @media screen and (min-width: 1024px) {
      .features__header .features-paragraph {
        margin: 0 auto;
        text-align: center;
        font-size: 1.8rem;
        line-height: 2.8rem;
        width: 63.5rem; } }
    @media screen and (min-width: 1440px) {
      .features__header .features-paragraph {
        margin: initial;
        text-align: left; } }

@media screen and (min-width: 768px) {
  .features__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; } }
@media screen and (min-width: 1024px) {
  .features__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; } }
@media screen and (min-width: 1440px) {
  .features__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100%; } }
.features__content .features__banking,
.features__content .features__budgeting,
.features__content .features__onboarding,
.features__content .features__api {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 21.5rem;
  margin-bottom: 3.2rem; }
  @media screen and (min-width: 768px) {
    .features__content .features__banking,
    .features__content .features__budgeting,
    .features__content .features__onboarding,
    .features__content .features__api {
      align-items: flex-start; } }
  @media screen and (min-width: 1024px) {
    .features__content .features__banking,
    .features__content .features__budgeting,
    .features__content .features__onboarding,
    .features__content .features__api {
      align-items: center; } }
  @media screen and (min-width: 1440px) {
    .features__content .features__banking,
    .features__content .features__budgeting,
    .features__content .features__onboarding,
    .features__content .features__api {
      align-items: flex-start;
      height: 26rem;
      margin-bottom: initial;
      margin-right: 3rem; } }
.features__content .banking-heading,
.features__content .budgeting-heading,
.features__content .onboarding-heading,
.features__content .api-heading {
  font-weight: 300;
  font-size: 2rem;
  line-height: 2.8rem;
  text-align: center;
  color: var(--color-primary-dark-blue); }
.features__content .banking-paragraph,
.features__content .budgeting-paragraph,
.features__content .onboarding-paragraph,
.features__content .api-paragraph {
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .features__content .banking-paragraph,
    .features__content .budgeting-paragraph,
    .features__content .onboarding-paragraph,
    .features__content .api-paragraph {
      text-align: left;
      width: 32rem; } }
  @media screen and (min-width: 1024px) {
    .features__content .banking-paragraph,
    .features__content .budgeting-paragraph,
    .features__content .onboarding-paragraph,
    .features__content .api-paragraph {
      width: 40rem;
      text-align: center; } }
  @media screen and (min-width: 1440px) {
    .features__content .banking-paragraph,
    .features__content .budgeting-paragraph,
    .features__content .onboarding-paragraph,
    .features__content .api-paragraph {
      width: 25.5rem;
      text-align: left; } }

.articles-heading {
  font-weight: 300;
  font-size: 3.2rem;
  line-height: 3.8rem;
  text-align: center;
  color: var(--color-primary-dark-blue);
  margin-bottom: 3.1rem; }
  @media screen and (min-width: 1440px) {
    .articles-heading {
      font-size: 4rem;
      line-height: 6.4rem;
      text-align: left; } }

@media screen and (min-width: 768px) {
  .articles__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 2.4rem; } }
@media screen and (min-width: 1440px) {
  .articles__wrapper {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: initial; } }
.articles__wrapper .articles__cards {
  margin-bottom: 2.4rem; }
  .articles__wrapper .articles__cards:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .articles__wrapper .articles__cards .article-graphics {
    width: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem; }
  .articles__wrapper .articles__cards .article {
    padding: 2.4rem 3.1rem; }
    @media screen and (min-width: 1440px) {
      .articles__wrapper .articles__cards .article {
        padding: 2.5rem 2.4rem; } }
    .articles__wrapper .articles__cards .article-author {
      font-size: 1rem;
      line-height: 1.8rem;
      color: var(--color-neutral-grayish-blue);
      margin-bottom: 0.8rem; }
    .articles__wrapper .articles__cards .article-heading {
      font-weight: 300;
      font-size: 1.6rem;
      line-height: 2rem;
      color: var(--color-primary-dark-blue);
      margin-bottom: 0.8rem; }
      .articles__wrapper .articles__cards .article-heading:hover {
        color: var(--color-primary-lime-green); }
    .articles__wrapper .articles__cards .article-paragraph {
      font-size: 1.3rem;
      line-height: 1.8rem;
      color: var(--color-neutral-grayish-blue); }

/*# sourceMappingURL=main.css.map */
