////////////////////////////////////////
// Global Styles & Resets
* {
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --color-primary-dark-blue: #2d314d;
  --color-primary-lime-green: #31d35c;
  --color-primary-bright-cyan: #2bb7da;

  --color-secondary-bg-light-grayish-blue: #f4f5f7;

  --color-neutral-grayish-blue: #9698a6;
  --color-neutral-light-grayish-blue: #f3f4f6;
  --color-neutral-very-light-gray: #fafafa;
  --color-neutral-very-white: #ffffff;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media screen and (min-width: 1440px) {
    overflow-x: hidden;
  }
}

body {
  font-family: "Public Sans", sans-serif;
}

.inactive {
  display: none;
}
////////////////////////////////////////
// Link Tag
a {
  text-decoration: none;
}
////////////////////////////////////////
// Paragraph Tag
p {
  color: var(--color-neutral-grayish-blue);
}
////////////////////////////////////////
// Buttons
button:hover {
  cursor: pointer;
  opacity: 0.4;
}

.btn {
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 2.8rem;
  color: var(--color-neutral-very-white);
  padding: 0.8rem 3.4rem;
  outline: transparent;
  border: none;
  border-radius: 2.2rem;
  background: linear-gradient(
    135deg,
    var(--color-primary-lime-green) 0%,
    var(--color-primary-bright-cyan) 99.58%
  );
  white-space: nowrap;
  transition: opacity 0.2s;

  @media screen and (min-width: 1440px) {
    display: block;
  }
}

.btn:hover {
  opacity: 0.4;
}
