.navbar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2.2rem 2.4rem;

  @media screen and (min-width: 1024px) {
    position: initial;
    padding: 2.4rem 9.5rem;
  }

  @media screen and (min-width: 1440px) {
    padding: 3.3rem 16.5rem;
  }
}
