.footer__social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.2rem;

  & svg {
    cursor: pointer;

    &:hover {
      fill: yellow;
    }
  }

  path {
    transition: 0.2s;
    &:hover {
      fill: var(--color-primary-lime-green);
    }
  }

  .footer-logo {
    margin-bottom: 3.2rem;
  }

  .socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 18.5rem;
  }
}

.footer__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.2rem;

  .footer-link {
    font-size: 1.5rem;
    line-height: 2.6rem;
    text-align: center;
    color: var(--color-neutral-very-white);
    margin-bottom: 0.8rem;

    &:hover {
      color: var(--color-primary-lime-green);
    }
  }
}

.footer__copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .footer-btn {
    margin-bottom: 2.4rem;
  }

  .footer-paragraph {
    font-size: 1.5rem;
    line-height: 2.6rem;
    text-align: center;
    color: var(--color-neutral-very-white);
    opacity: 0.5;
    width: 22rem;
  }
}
