.header__phone {
  position: relative;
  background-image: url("/images/bg-intro-mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 44%;
  min-height: 28rem;
  margin-bottom: 3.3rem;

  @media screen and (min-width: 1024px) {
    background-image: url("/images/bg-intro-desktop.svg");
    background-size: 90%;
    background-position: 20% 40%;
    min-height: 44rem;
  }

  @media screen and (min-width: 1440px) {
    background-size: 145%;
    background-position: -5% 77%;
    order: 2;
    min-height: 65.6rem;
    width: 60%;
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("/images/image-mockups.png");
    background-size: 91%;
    background-repeat: no-repeat;
    background-position: center 88%;

    @media screen and (min-width: 768px) {
      background-position: center 70%;
    }

    @media screen and (min-width: 1024px) {
      background-size: 70%;
      background-position: center 50%;
    }

    @media screen and (min-width: 1440px) {
      height: 120%;
      background-size: 90%;
      background-position: 250% 78%;
    }

    @media screen and (min-width: 1500px) {
      background-size: 70%;
      background-position: 90% 90%;
    }
  }
  // background-image: url("/images/image-mockups.png"),
  //   url("/images/bg-intro-mobile.svg");
  // background-repeat: no-repeat, no-repeat;
  // background-size: 94%, cover;
  // background-position: 50% 88%, 50% 42%;
  // height: 28.77rem;
  // position: relative;
  // z-index: 2;
  // margin-bottom: 3.3rem;

  // @media screen and (min-width: 768px) {
  //   background-position: 50% 35%, 50% 42%;
  // }

  // @media screen and (min-width: 1024px) {
  //   height: 44rem;
  //   margin-bottom: 6.6rem;
  //   background-position: 50% 75%, 50% 42%;
  // }

  // @media screen and (min-width: 1440px) {
  //   order: 2;
  //   background-image: url("/images/image-mockups.png"),
  //     url("/images/bg-intro-desktop.svg");
  //   background-size: 94%, 150%;
  //   background-position: 360% 42%, -5% 75%;
  //   height: 65.6rem;
  //   width: 60%;
  //   margin-bottom: 0;
  // }
}

.header__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2.4rem 8.8rem;

  @media screen and (min-width: 540px) {
    padding: 0 6rem 8.8rem;
  }

  @media screen and (min-width: 768px) {
    padding: 0 12rem 8.8rem;
  }

  @media screen and (min-width: 1024px) {
    padding: 0 22rem 8.8rem;
  }

  @media screen and (min-width: 1440px) {
    padding: 0;
    padding-left: 16.5rem;
    align-items: flex-start;
    width: 46.7rem;
  }

  .header-heading {
    font-weight: 300;
    font-size: 4rem;
    line-height: 4.7rem;
    text-align: center;
    color: var(--color-primary-dark-blue);
    margin-bottom: 1.6rem;

    @media screen and (min-width: 1024px) {
      font-size: 5.6rem;
      line-height: 6.4rem;
      margin-bottom: 2.4rem;
    }

    @media screen and (min-width: 1440px) {
      text-align: left;
    }
  }

  .header-paragraph {
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: center;
    margin-bottom: 3.2rem;

    @media screen and (min-width: 1024px) {
      font-size: 1.8rem;
      line-height: 2.8rem;
      margin-bottom: 3.6rem;
    }

    @media screen and (min-width: 1440px) {
      text-align: left;
    }
  }
}
